<link href="css/prices.css" rel="stylesheet"/>

<div class="container prices-container">
    <div class="row prices-header">
        <h1 class="fancy-heading"> Full Price List </h1>
        <p class="col-sm-8">The Zoola hair salon offers create service and the best cuts in Toronto, you're welcomed to take a look at our latest's works in our <a href="#!/gallery">Gallery</a>
           However as the saying goes everything comes at price, so we decided to alter the saying a bit to Best Quality For Less! The list bellow will guide you in choosing the best cut for you
        </p>
        <img class="col-sm-4"  src="images/barberer.jpg" />
    </div>
    <table class=" prices-table">
        <tr>
            <th><h1 class="firstHeading"> Hair Services </h1></th>
        </tr>
        <tr ng-repeat="hairCut in $ctrl.cuts">
            <td>   {{hairCut.cut}} </td>
            <td class="price-cell"> {{hairCut.price}} <i class="fa fa-usd" aria-hidden="true"></i></td>
        </tr>
        <tr>
            <th><h1>Combos and Deals</h1> </th>
        </tr>
        <tr ng-repeat="deal in $ctrl.deals">
            <td>   {{deal.name}} </td>
            <td class="price-cell"> {{deal.price}} <i class="fa fa-usd" aria-hidden="true"></i></td>
        </tr>

    </table>
</div>